<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="assets/css/blog.css">
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
