{% extends "base.html.jinja2" %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
  <h1>{{ post.title }}</h1>
  <p>tags:</p>
  <ul>
  {% for tag in post.tags %}
    <li><a href="{% url "tag-post", tag %}">{{ tag.pk }}</a></li>
  {% endfor %}
  </ul>
  <div class="content">
    {{ post.content|safe }}
  </div>
{% endblock %}
