{% extends "base.html.jinja2" %}

{% block title %}Post tagged by {{ tag.pk }}{% endblock %}

{% block body %}
  <h1>Post tagged by {{ tag.pk }}</h1>
  <ul>
  {% for post in posts %}
    <li><a href="{% url "post", post %}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
